// Place all the styles related to the MethodNames controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.content-wrapper {
  width: 80%;
  margin: 0 auto;
}

.array, .string, .integer {
  font-size: 20px;
  width: 240px;
  float: left;
  margin-left: 115px;
}

div.method_name {
  
}
